<div id="eateries" class="transitions-enabled">
<% @eateries.each do |eatery| %>
  <div class="box" panel panel-default">
    <%= image_tag eatery.image.url(:medium) %>
      <div class="panel-body">
      <%= eatery.name %>
      <%= eatery.owner.email if eatery.owner %>
      <%= eatery.address %>
      <%= eatery.description %>
      <%= link_to 'Show', eatery_path(eatery)%>
      <% if eatery.owner == current_owner %>
      <%= link_to 'Edit', edit_eatery_path(eatery) %>
      <%= link_to 'Destroy', eatery, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
 <% end %>
</div>


