<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eatery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @eatery.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eatery.description %>
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.5120005342797!2d-73.96733958516707!3d40.77275677932532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25894a98895f9%3A0x42167cc34861d643!2sVia+Quadronno!5e0!3m2!1sen!2sus!4v1488071771707" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<% if @eatery.owner == current_owner %>
  <%= link_to 'Edit', edit_eatery_path(@eatery) %> |
<% end %>

<%= link_to 'Back', eateries_path %>

