<%= image_tag @eatery.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @eatery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @eatery.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eatery.description %>
</p>


<% if @eatery.user == current_user %>
    <%= render partial: 'reservations/form', locals: {reservation: @reservation, eatery_id: @eatery.id}  %>
    <%= link_to 'Edit', edit_eatery_path(@eatery) %> |
<% end %>

<%= link_to 'Back', eateries_path %>



